main {
     margin : 3% 10%;
     

}

.btn-grad {
     border-radius: 5px;
     background:lightcyan;
     margin-left: 20px;
     height: 26px;
     width: 90px;
}
.input_text {
     height: 26px;
     border-radius: 5px;
     background-color:lightcyan;
}