.list {
     display: flex;
     flex-direction: row;
     justify-content:flex-start;
     margin: 15px 0;
     color: white;
}
.delete_btn {
     height: 20px;
     width: 20px;
     background-color: darkviolet;
     margin-right: 25px;
     border-radius: 5px;
     border: 2px solid black;
     
}
.delete_btn:hover {
     background-color: red;
}